@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}



.container {
    background: linear-gradient(60deg, #9734FF, rgb(78, 78, 209));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-user {
    width: 450px;
    height: 550px;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create {
    width: 450px;
    height: 400px;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

select {
    width: 300px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    margin: 10px;
    padding-left: 20px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-left: 5px;
    border: none;
    width: 210px;
    color: #999;
    outline: none;

}





.input {
    width: 300px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    margin: 10px;
    padding-left: 20px;
    border-radius: 60px;
    display: flex;
    align-items: center;



}

.input input {
    font-size: 18px;
    height: 30px;
    margin-left: 5px;
    border: none;
    width: 210px;
    color: #999;
    outline: none;
}

i {
    font-size: 30px;
    color: linear-gradient (#F1F5FF, #9734FF);
}
.message .input i {
    font-size: 30px;
    color: linear-gradient (#F1F5FF, #9734FF);
}


.button {
    height: 40px;
    width: 180px;
    margin: 20px;
    border-radius: 40px;
    border: none;
    box-shadow: 2px 2px 10px #383838;
    background: linear-gradient(60deg, #9734FF, rgb(78, 78, 209));
    color: #fff;
}

.button:hover {
    filter: brightness(140%)
}

.message {
    display: flex;
    position: center;
    align-items: center;
}

